<div class="find-a-bike wrapper">
	<div class="grid">
		<form>
			<label>
				<h3>Find a Bike</h3>

				Height:
				<select class="height-filter">
					<option value="all">All Heights</option>
					{% for tag in collections.bikes.all_tags %}
					{%if tag contains "Height" %}
					<option value="{{tag}}">{{tag | replace: "_", " "}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</label>

			<div class="bike-types">
				<article data-bike-type="biketype_road">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 112.3 76.8" enable-background="new 0 0 112.3 76.8" xml:space="preserve">
						<style>
							.style0{
								stroke-width: 0.8618;
								stroke-miterlimit:  10;
							}
						</style><path d="M88 29.3c-1.1 0-2.2 0.1-3.2 0.2 c0.1 0.2 0.1 0.3 0.1 0.3s0.3 1 0.7 2.4c0.8-0.1 1.6-0.2 2.4-0.2c10 0 18.2 8.1 18.2 18.2c0 10-8.1 18.2-18.2 18.2 s-18.2-8.1-18.2-18.2c0-7.2 4.2-13.4 10.2-16.3c1.8 5.4 4.1 10.6 6.4 15.3c-0.2 0.3-0.3 0.7-0.3 1.1c0 1.1 0.9 1.9 1.9 1.9 c1.1 0 1.9-0.9 1.9-1.9c0-1-0.8-1.9-1.9-1.9c-1.2-2.7-3-7.8-4.4-12.4c-0.6-2-2.8-9.4-2.8-9.4s-2.9-9.8-4.3-14.2h10.8v0 c1.7 0 3.1 1.4 3.1 3.1c0 1.7-1.4 3.1-3.1 3.1c-0.9 0-1.6 0.7-1.6 1.6s0.7 1.6 1.6 1.6c3.5 0 6.3-2.8 6.3-6.3c0-3.5-2.8-6.3-6.3-6.3 H74.5c-0.9 0-1.6 0.7-1.6 1.6c0 0.2 0 0.4 0.1 0.6l2.2 7.2H43.4l-2.8-8.9c1.8-0.9 3.7-1.4 5.6-1.4c0.6 0 1.1-0.6 1.1-1.4 c0-0.7-0.4-1.2-0.8-1.4c-0.3-0.1-0.7-0.1-1.1-0.1c-1.8 0-4.5 0.2-7.7 0.3c-1.9 0.1-4.9-0.2-7-0.3v0c0 0-0.1 0-0.1 0 c-0.8 0-1.4 0.8-1.4 1.8c0 0.7 0.3 1.3 0.7 1.6l0 0c1.2 0.9 2.7 1.9 2.7 2c0.1 0.1 2.4 2.3 5.2 0.7l2.1 7L23.8 47.7 c-0.9 0-1.9 0.5-2.4 1.3c-0.7 1.3-0.2 2.8 1 3.5c1.2 0.7 2.8 0.3 3.5-1h15.9c-0.7 9.4-8.5 16.9-18.1 16.9c-10 0-18.2-8.1-18.2-18.2 s8.1-18.2 18.2-18.2c1.9 0 3.7 0.3 5.4 0.8l1.4-2.5c-2.1-0.7-4.4-1.1-6.8-1.1c-11.6 0-21 9.4-21 21s9.4 21 21 21 c11.2 0 20.3-8.7 21-19.7h3.1c0.3 1 1 1.7 1.9 2.2L48 61h-1.6c-0.2 0-0.4 0.2-0.4 0.4v2c0 0.2 0.2 0.4 0.4 0.4h5 c0.2 0 0.4-0.2 0.4-0.4v-2c0-0.2-0.2-0.4-0.4-0.4H50l1.6-6.6c2.2 0 4-1.8 4-4c0-0.6-0.1-1.1-0.3-1.6L77 24.5l0.9 3 c0 0 0.4 1.3 1.2 3.8C71.9 34.6 67 41.9 67 50.3c0 11.6 9.4 21 21 21s21-9.4 21-21S99.6 29.3 88 29.3z M47.7 49.1H26 c0 0 0-0.1-0.1-0.1l7.7-14c3.9 2.6 6.8 6.6 7.8 11.3h2.9c-1.1-5.8-4.5-10.7-9.3-13.8l6-10.9l7.9 25.6C48.3 47.8 47.9 48.4 47.7 49.1 z M53 46.5c-0.4-0.1-0.8-0.2-1.2-0.3l-7.5-24.5h31.9L76 21.2L53 46.5z" class="style0"/>
					</svg>


					<p>Road - CX - Tri</p>
				</article>
				<article data-bike-type="biketype_mtb">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 112.3 76.8" enable-background="new 0 0 112.3 76.8" xml:space="preserve"><g>
						<path d="M76.6 24.4l3 7.1l-0.4 0.2c-7 3.6-11.4 10.6-11.4 18.5c0 11.4 9.3 20.7 20.7 20.7 c11.4 0 20.7-9.3 20.7-20.7c0-5.5-2.2-10.7-6.1-14.6c-3.9-3.9-9.1-6.1-14.6-6.1c-0.4 0-0.8 0-1.2 0l1.5 4.4c8.9 0.2 16 7.4 16 16.2 c0 9-7.3 16.2-16.2 16.2c-9 0-16.2-7.3-16.2-16.2c0-6 3.3-11.5 8.6-14.3l0.4-0.2l5.7 13.3L87 49c-0.2 0.3-0.3 0.7-0.3 1.1 c0 1.4 1.1 2.5 2.5 2.5c1.4 0 2.5-1.1 2.5-2.5c0-1-0.6-1.9-1.5-2.3L90 47.8L82.1 27c-0.2-0.6-0.9-0.9-1.4-0.7l-0.4 0.1l-4.7-10.9 l5.7-1.8c0.4-0.1 0.7-0.4 0.9-0.8l1.4-2.8l0.2-0.1C84.8 9.9 85.5 9 85.5 8c0-1.2-1-2.2-2.2-2.2c-1.2 0-2.2 1-2.2 2.2 c0 0.2 0 0.5 0.1 0.7l0.1 0.2L80 11.3l-6.5 2.1c-0.2 0.1-0.4 0.2-0.5 0.3c-0.3 0.3-0.5 0.8-0.4 1.2c0 0.1 0 0.1 0 0.2 c0 0.1 0.1 0.2 0.1 0.2l1.2 2.9l-28.6 8.9l-0.5-1.4c0 0 0-0.1-0.1-0.1l-0.7 0.2L40.9 17l8.9-2.8c0-0.1 0-0.1 0-0.2 c0-0.6-0.3-1.1-0.7-1.2c-0.3-0.1-0.7-0.2-1.1-0.2c-1.3 0-2.9 0.1-4.7 0.2C42 12.9 40.6 13 39 13c-0.3 0-0.6 0-0.9 0 c-1.7 0-4.1-0.1-7.2-0.4l-0.2 0c-0.7 0-1.2 0.8-1.2 1.7c0 0.6 0.3 1.2 0.7 1.5l1.7 1.2c0.8 0.6 1.5 1.1 1.5 1.1 c0 0 1.3 0.9 2.9 0.9c0.8 0 1.6-0.2 2.3-0.6l0.4-0.3l3.1 8.4l-0.5 0.2c0 0-0.1 0-0.1 0.1l0.7 2.2l-0.2 0.2L23.6 47.7l-0.2 0 c-0.1 0-0.2 0-0.3 0c-1.4 0-2.5 1.1-2.5 2.5c0 1.4 1.1 2.5 2.5 2.5c0.8 0 1.5-0.4 2-1l0.1-0.2h14.1l-0.1 0.5 c-0.9 8.2-7.8 14.4-16.1 14.4c-9 0-16.2-7.3-16.2-16.2c0-9 7.3-16.2 16.2-16.2c2.3 0 4.6 0.5 6.7 1.5L33 32 c-3.1-1.7-6.5-2.6-10-2.6c-11.4 0-20.7 9.3-20.7 20.7c0 11.4 9.3 20.7 20.7 20.7c10.7 0 19.8-8.3 20.6-19l0-0.4h2.8l0.1 0.3 c0.4 1.2 1.4 2.3 2.6 2.8l0.3 0.1l-1.5 7l-1.7 0v1.9h4.4v-1.9h-1.4l1.4-6.8l0.4 0c0 0 0 0 0 0c2.7 0 4.9-2.2 4.9-4.8 c0-0.7-0.1-1.3-0.4-1.9L55.4 48L76.6 24.4z M46.4 48.8H26.2l9.2-9.2l0.3 0.4c1.1 1.4 2 2.9 2.6 4.5h4.7c-0.8-2.8-2.2-5.5-4.1-7.8 l-0.3-0.3l4.6-4.7L48 46.4l-0.2 0.2c-0.6 0.5-1 1.2-1.3 1.9L46.4 48.8z M52.8 45.6l-0.3-0.1c-0.3-0.1-0.6-0.2-1-0.2l-0.3 0 l-4.9-14.9l28.3-8.8L52.8 45.6z" class="style0"/>
					</g>
				</svg>

				<p>Mountain</p>
			</article>
			<article data-bike-type="biketype_urban">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 112.3 76.8" enable-background="new 0 0 112.3 76.8" xml:space="preserve"><g>
					<path class="style0" d="M3.2 43.5C3.2 43.5 3.2 43.5 3.2 43.5c-0.8 2.1-1.3 4.5-1.3 7.1c0 11.1 9 20 20 20c7.9 0 14.7-4.6 18-11.2 l6.9-2c0 0 0 0 0 0l2.1 0.2c0 0 0.1 0 0.1 0c0 0 0.1 0 0.1 0c0.4 0.1 0.9 0.1 1.3 0.1c3.5 0 6.3-2.7 6.5-6.2 c0.9-0.5 1.9-1.2 2.8-1.9c3.1-2.3 6.2-5.4 9.1-8.9c3.9-4.8 7.3-11 9.2-15c0.3 1.3 0.6 2.7 1 4.1c0.2 0.7 0.3 1.3 0.5 2 c-6.2 3.8-10.4 10.8-10.4 18.8c0 0 0 0 0 0.1c0 0.4-0.1 1.8-0.3 2.2c-0.2 0.5 0 1.1 0.5 1.4c0.1 0.1 0.3 0.1 0.4 0.1 c0.2 0 0.4-0.1 0.6-0.2c1.7 9.3 9.8 16.4 19.7 16.4c11.1 0 20-9 20-20c0-10.2-7.6-18.5-17.4-19.8c0.2-0.2 0.3-0.4 0.4-0.7 c0-0.6-0.4-1.1-0.9-1.1c-0.7 0-1.4-0.1-2.1-0.1c0 0 0 0-0.1 0c0 0 0-0.1 0-0.1V28c0.4 0 0.8 0 1.2 0c0 0 0.7 0 0.7-2.4 c0-2.4-0.7-2.4-0.7-2.4c-2.5 0-4.5 1.1-4.5 2.4c0 1.4 0.5 2 1.2 2.3v0.9c0 0.1 0 0.1 0 0.2c-1.9 0.2-3.8 0.7-5.5 1.4 c-1.7-6.8-3-13-3.3-14.5l1.5-5.8c0.2-0.6-0.1-1.3-0.6-1.6l-2-1.4c-0.2-0.3-0.5-0.6-0.8-0.7c-0.5-0.3-0.9-0.3-1.3-0.3 c-1.2 0-2.6 0.4-4.2 0.8c-1.5 0.4-3.1 0.7-4.2 0.7c-0.3 0-0.5 0-0.7 0h0c-0.8-0.1-1.7 0.4-1.8 1.3c-0.1 0.8 0.4 1.7 1.3 1.8 c0.4 0.1 0.8 0.1 1.2 0.1c0.9 0 1.7-0.1 2.6-0.3c-0.4 0.3-1.1 0.5-2.5 0.6c-0.4 0-0.9 0-1.5-0.1c-0.4-0.1-0.8 0.3-0.9 0.7 c0 0.4 0.3 0.8 0.7 0.9c0.6 0.1 1.2 0.1 1.7 0.1c0 0 0 0 0 0c1.8 0 3-0.5 3.8-1.2c0.6-0.5 0.8-1.1 1-1.5c0 0 0 0 0 0 c1.3-0.3 2.5-0.6 3.1-0.7c0 0 0.1 0.1 0.2 0.1l1.5 1.1L76 15.5C76 15.7 76 16 76 16.2c0 0 0.4 1.8 1 4.6c-0.1 0.3-0.4 0.8-0.7 1.5 c-0.5 1.2-1.3 2.8-2.3 4.6c-1.9 3.7-4.6 8.3-7.6 11.9c-2.7 3.3-5.7 6.3-8.5 8.4c-0.5 0.4-1.1 0.8-1.6 1.1c-1.1-2.1-3.3-3.6-5.8-3.6 c-0.3 0-0.6 0-0.8 0.1c-0.1 0-0.2-0.1-0.4 0l-0.7 0L37.3 24.5c-0.2-0.4-0.5-0.6-0.9-0.7l-3.5-6.3c0.7-0.1 1.2-0.2 1.3-0.4 c0.2-0.8 5.7-1 6.2-2.5c0.6-1.6-8.6-1-10.7-1c-2.1 0-6.5-0.8-7-0.1c-0.5 0.8 0 4 1.4 4.2c0.3 0 1 0.1 1.8 0.1l-0.2 0.7 c0 0 3.5 1.5 4.8 1.1c0.3-0.1 0.5-0.3 0.6-0.6l3.2 5.7c-0.2 0.1-0.3 0.3-0.4 0.5l-3.3 6.1C28 30 25 29.3 21.9 29.3 c-5.2 0-10 1.9-13.7 5H4.9l-0.7 4.5c-0.3 0.5-0.6 1-0.9 1.4c-0.5 0.8-1 1.5-1.3 1.6c-0.5 0.3-0.5 1-0.2 1.4 C2.1 43.8 2.7 43.9 3.2 43.5z M74 50.6c0-5.5 2.8-10.4 7-13.3c1.4 4.9 2.9 9.6 4.5 12.4c0.5 0.8 0.9 1.5 1.5 2.1 c0.5 1.2 1.7 2.1 3.1 2.1c1.9 0 3.4-1.5 3.4-3.4c0-1.9-1.5-3.4-3.4-3.4c-0.2 0-0.3 0-0.5 0.1c-0.2-0.1-0.4-0.2-0.6-0.4 c-1.2-0.8-2.4-2.1-2.6-3.1c0-0.2-0.1-0.4-0.2-0.5c-0.8-2.2-1.6-4.9-2.3-7.6c0.2-0.1 0.4-0.2 0.7-0.2c0 0.3 0.1 0.6 0.3 0.9 c0.2 0.2 0.5 0.3 0.7 0.3c0.3 0 0.6-0.1 0.8-0.4c0.4-0.5 1.4-0.6 1.9-0.6c0.2 0 0.2 0 0.2 0c0.6 0.1 1.2-0.4 1.2-1 c0-0.1 0-0.1 0-0.2c0.1 0 0.3 0 0.4 0c8.9 0 16.1 7.2 16.1 16.1c0 8.9-7.2 16.1-16.1 16.1C81.3 66.7 74.1 59.5 74 50.6z M44 51.2 c0 1.4 0.4 2.7 1.2 3.7l-3.7-0.4c0.3-1.3 0.4-2.6 0.4-4c0-0.8-0.1-1.6-0.1-2.3c0.7-0.2 1.4-0.4 1.8-0.7c0.1 0 0.1-0.1 0.2-0.1 l1.6-0.1C44.5 48.4 44 49.7 44 51.2z M25.4 48.7l4.3-0.3c-1.5 0.2-2.9 0.5-4.1 0.7C25.6 48.9 25.5 48.8 25.4 48.7z M37.6 54.1 l-12.3-1.4c0.3-0.5 0.5-1 0.6-1.5c3.4-0.5 8.3-1.3 12.1-2.1c0 0.5 0.1 1 0.1 1.4C38 51.8 37.9 53 37.6 54.1z M25.9 46.4l1.6-3l1 0.5 c0.3 0.2 0.7 0 0.9-0.3l1.5-2.9c0.2-0.4 0.1-0.8-0.2-0.9l-1-0.5l1.1-2.1c3 2 5.2 4.9 6.3 8.4L25.9 46.4z M45.2 45.1l-1.9 0.1 c-0.1 0-0.2 0-0.3 0l-0.5 0c-1.4-5.3-4.7-9.8-9.2-12.6l2.4-4.5L45.2 45.1z M50.5 54.6c-1.9 0-3.4-1.5-3.4-3.4c0-1.9 1.5-3.4 3.4-3.4 c1.9 0 3.4 1.5 3.4 3.4C53.9 53.1 52.4 54.6 50.5 54.6z M40.9 57c0-0.1 0.1-0.2 0.1-0.3l0.5 0L40.9 57z M5.8 50.6 c0-8.9 7.2-16.1 16.1-16.1c1.2 0 2.4 0.1 3.5 0.4c0 0.1-0.1 0.2-0.1 0.3c0 0.6 0.4 1.1 1.1 1.2c0 0 0.1 0 0.2 0 c0.2 0 0.4 0.1 0.6 0.1c0.1 0 0.3 0.1 0.4 0.2l-5.3 9.9c-0.1 0-0.2 0-0.4 0c-2.2 0-4 1.8-4 4c0 2.1 1.7 3.9 3.8 4c0 0 0 0 0.1 0 L37 56.3c-0.4 1-0.8 1.9-1.3 2.7l-2.7 1c-0.3 0.1-0.5 0.5-0.4 0.8c0.1 0.3 0.3 0.4 0.6 0.4c0.1 0 0.1 0 0.2 0l0.8-0.2 c-2.9 3.5-7.3 5.7-12.2 5.7C13 66.7 5.8 59.5 5.8 50.6z"/>
				</g></svg>

				<p>Urban - Hybrid</p>
			</article>
			<article data-bike-type="">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 112.3 76.8" enable-background="new 0 0 112.3 76.8" xml:space="preserve">
					<style>
						.style0{
							stroke-width: 0.8618;
							stroke-miterlimit:  10;

						}
					</style><path d="M14.2 65.6c0 5.4 4.4 9.8 9.8 9.8 c5.4 0 9.8-4.4 9.8-9.8c0-4-2.4-7.5-5.9-9l6.2-20.8c4-14.2 16.8-24.2 31.4-24.7v2.7C49 14.5 35.9 28 35.9 44.6 c0 17 13.8 30.8 30.8 30.8s30.8-13.8 30.8-30.8c0-16.6-13.1-30.1-29.6-30.8v-6h-0.5V6.6c0-0.7 0.4-1.1 1.1-1.1H72 c1.1 0 1.9-0.9 1.9-1.9c0-1.1-0.9-1.9-1.9-1.9h-3.7c-0.1-0.2-0.3-0.3-0.5-0.3H60c-0.3 0-0.5 0.2-0.5 0.5v1c0 0.3 0.2 0.5 0.5 0.5 h7.8c0.2 0 0.4-0.1 0.5-0.4H72c0.3 0 0.6 0.2 0.6 0.6S72.3 4.1 72 4.1h-3.5c-1.4 0-2.5 1-2.5 2.5v1.2h-0.5v0.9 c-6.1 0.2-11.9 1.9-17 4.9c-0.1-0.5-0.6-0.9-1.2-0.9h-8.2c-0.7 0-1.2 0.6-1.2 1.2c0 0.7 0.6 1.2 1.2 1.2h7 c-6.8 4.7-12 11.7-14.3 20.1l-6.1 20.8c-0.5-0.1-1.1-0.1-1.6-0.1C18.6 55.8 14.2 60.2 14.2 65.6z M65.5 16.2v26.2 c-0.1 0.1-0.2 0.1-0.3 0.2l-3.6-2.5v-1.8h-4.2v2.4h2.6l4.4 3.1c-0.1 0.3-0.1 0.5-0.1 0.8c0 1.4 1.1 2.5 2.5 2.5 c0.6 0 1.2-0.2 1.6-0.6l3.6 2.5v1.8H76v-2.4h-2.6L69 45.4c0.1-0.2 0.1-0.5 0.1-0.8c0-0.9-0.5-1.8-1.3-2.2V16.2 c7.1 0.3 13.8 3.2 18.9 8.3c5.4 5.4 8.3 12.5 8.3 20.1c0 7.6-3 14.7-8.3 20.1C81.4 70 74.3 73 66.7 73c-7.6 0-14.7-3-20.1-8.3 c-5.4-5.4-8.3-12.5-8.3-20.1c0-7.6 3-14.7 8.3-20.1C51.7 19.4 58.3 16.5 65.5 16.2z M16.4 65.6c0-4.2 3.4-7.6 7.6-7.6 c0.3 0 0.7 0 1 0.1L23.2 64c-0.6 0.3-1 0.9-1 1.6c0 1 0.8 1.8 1.8 1.8c1 0 1.8-0.8 1.8-1.8c0-0.3-0.1-0.6-0.3-0.9l1.8-5.9 c2.6 1.2 4.3 3.8 4.3 6.8c0 4.2-3.4 7.6-7.6 7.6C19.8 73.2 16.4 69.8 16.4 65.6z" class="style0"/>
				</svg>
				<p>Everything</p>
			</article>
		</ul>
	</div>

</form>
</div>
</div>

<style>
	.wrapper.find-a-bike {
		padding-top: 3em;
		background-image: url(//cdn.shopify.com/s/files/1/0799/5585/t/2/assets/mountain-bg.svg?4035468196648816332);
		background-size: cover;
	}

	.find-a-bike form {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	.find-a-bike form label {
		flex-basis: 30%;
		padding: 1em;
		margin: 0;
	}

	.find-a-bike form a {
		display: block;
	}

	.find-a-bike .bike-types {
		display: flex;
		flex-wrap: wrap;
		width: 70%;
	}

	.find-a-bike .bike-types article {
		flex-basis: 25%;
		padding: 1.5em;
		transition: all .2s ease-in;
	}

	.find-a-bike .bike-types article:hover {
		cursor: pointer;
		opacity: 0.6;
		transition: all .2s ease-in;
	}

	@media only screen and (max-width: 780px) {
		.find-a-bike .bike-types,
		.find-a-bike form label {
			flex-basis: 100%;
		}

		.find-a-bike .bike-types article {
			flex-basis: 50%;
			align-content: center;
			text-align: center;
		}
	}
</style>

<script>
	var getFormValues = function(selector) {
		var formValues = [];
		var form = document.querySelector(selector);

		for ( var i = 0; i < form.elements.length; i++ ) {
			var e = form.elements[i];

			if (e.value !== "all" && e.value !== "") {
				formValues.push(formatDropdownValues(e.value));
			}
		}

		return formValues;
	}

	var queryStringfromArray = function(array) {
		var queryString = '';

		for (var p = 0; p < array.length; p++) {
			if (p === 0) {
				queryString = queryString + array[p];
			} else {
				queryString = queryString + "+" + array[p];
			}
		}

		return queryString;
	}

	var formatDropdownValues = function(value) {
		return value.replace(" ", "-").toLowerCase();
	}

	var goFilter = function(queryString) {
		window.location.href = 'http://around-the-cycle.myshopify.com/collections/all/' + queryString;
	}

	$('.find-a-bike').on('click', 'article', function(e) {
		// get data from form
		var formValues = getFormValues(".find-a-bike form");

		// get data from click event
		var bikeType = $(this).attr('data-bike-type');

		// push click event data to form array
		formValues.push(bikeType);

		// convert array to query string
		var queryString = queryStringfromArray(formValues);

		// send query string to filter mechanism
		goFilter(queryString);
	})
</script>