<header class="section-header section-header-image">
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Sizing Chart</span></h2>
<p>Choosing the right size bike leads to greater comfort, efficieny and fun.</p>
</div>
</header>
<div class="wrapper">
  {{ page.content }}
</div>
