<header class="section-header section-header-image">
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Sizing Charts</span></h2>
<p>Getting the right fit makes all the difference</p>
</div>
</header>
<div class="wrapper">
  {{ page.content }}

  <h3 class="text-center">Sizing by Height</h3>
 <p class="text-center">Look up your height and see the typical sizing. The median size should be a good starting point toward the right fit.</p>  
 
  <table>
<tbody>
<tr><th>Height</th><th>Median Size (cm)</th><th>Size Range (cm)</th><th>Median Size (in)</th><th>Size Range (in)</th>
<tr>
<td>4'10"</td>
<td>46cm</td>
<td>44cm - 49cm</td>
<td>13in</td>  
<td>12in - 14in</td>
</tr>	
  <tr>
<td>4'11"</td>
<td>47cm</td>
<td>44cm - 49cm</td>
<td>13in</td>  
<td>12in - 14in</td>
</tr>
    <tr>
<td>5'0"</td>
<td>47cm</td>
<td>45cm - 50cm</td>
<td>13in</td>  
<td>12in - 14in</td>
</tr>
  <tr>
<td>5'1"</td>
<td>48cm</td>
<td>46cm - 51cm</td>
<td>13in</td>  
<td>12in - 14in</td>
</tr>
  <tr>
<td>5'2"</td>
<td>49cm</td>
<td>47cm - 52cm</td>
<td>14in</td>  
<td>13in - 15in</td>
</tr>
  <tr>
<td>5'3"</td>
<td>50cm</td>
<td>48cm - 52cm</td>
<td>14in</td>  
<td>13in - 15in</td>
</tr>
  <tr>
<td>5'4"</td>
<td>51cm</td>
<td>49cm - 53cm</td>
<td>15in</td>  
<td>14in - 16in</td>
</tr>
  <tr>
<td>5'5"</td>
<td>52cm</td>
<td>50cm - 54cm</td>
<td>16in</td>  
<td>14in - 17in</td>
</tr>
  <tr>
<td>5'6"</td>
<td>53cm</td>
<td>51cm - 55cm</td>
<td>16in</td>  
<td>15in - 18in</td>
</tr>
  <tr>
<td>5'7"</td>
<td>53cm</td>
<td>51cm - 55cm</td>
<td>17in</td>  
<td>15in - 18in</td>
</tr>
  <tr>
<td>5'8"</td>
<td>54cm</td>
<td>52cm - 56cm</td>
<td>17in</td>  
<td>16in - 19in</td>
</tr>
  <tr>
<td>5'9"</td>
<td>55cm</td>
<td>53cm - 57cm</td>
<td>18in</td>  
<td>16in - 19in</td>
</tr>
  <tr>
<td>5'10"</td>
<td>56cm</td>
<td>54cm - 58cm</td>
<td>18in</td>  
<td>17in - 20in</td>
</tr>
  <tr>
<td>5'11"</td>
<td>57cm</td>
<td>55cm - 59cm</td>
<td>19in</td>  
<td>17in - 20in</td>
</tr>
  <tr>
<td>6'0"</td>
<td>58cm</td>
<td>56cm - 60cm</td>
<td>19in</td>  
<td>18in - 21in</td>
</tr>
  <tr>
<td>6'1"</td>
<td>59cm</td>
<td>57cm - 61cm</td>
<td>20in</td>  
<td>19in - 21in</td>
</tr>
    <tr>
<td>6'2"</td>
<td>60cm</td>
<td>58cm - 62cm</td>
<td>21in</td>  
<td>20in - 22in</td>
</tr>
    <tr>
<td>6'3"</td>
<td>60cm</td>
<td>58cm - 62cm</td>
<td>22in</td>  
<td>20in - 23in</td>
</tr>
    <tr>
<td>6'4"</td>
<td>61cm</td>
<td>59cm - 63cm</td>
<td>22in</td>  
<td>21in - 24in</td>
</tr>
    <tr>
<td>6'5"</td>
<td>62cm</td>
<td>60cm - 64cm</td>
<td>23in</td>  
<td>21in - 24in</td>
</tr>
    <tr>
<td>6'6" and up</td>
<td>63cm+</td>
<td>61cm and up</td>
<td>23in+</td>  
<td>21in and up</td>
</tr>
  </tbody>
  </table>
  <p></p>
<h3 class="text-center">Kids Bikes</h3>
<p class="text-center">Find the right size bike for your youngster. When in doubt, size up, especially if they plan to keep on growing.</p>  
   
<table>
<tbody>
<tr><th>Bike (wheel) Size</th><th>Age Range</th><th>Height Range</th>
<tr>
<td>12"</td>
<td>2-4 years old</td>
<td>26"-34"</td>
</tr>
  <tr>
<td>16"</td>
<td>3-6 years old</td>
<td>34"-44"</td>
</tr>
  <tr>
<td>20"</td>
<td>4-8 years old</td>
<td>44"-56"</td>
</tr>
  <tr>
<td>24"</td>
<td>7+ years old</td>
<td>56"-62"</td>
</tr>
</tbody>
  </table>
  
</div>
