<header class="section-header section-header-image repair" id="repair-section">
  <div class="background-overlay"></div>
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Repairs &amp; Services</span></h2>
<p>Our experienced mechanics, honest assessment and reasonable pricing keep our customers riding safe and happy.</p>
</div>
</header>
<div class="wrapper">
<div id="services-repair" class="section">
  <h3 class="text-center"><span class="bold-text">House Specials</span></h3>
<table>
<tbody>
<tr><th>Service</th><th>Description</th><th>Labor</th><th>Turn Around</th></tr>
<tr>
<td>Fix Flat</td>
<td>Remove, inspect, and install new tube</td>
<td>$5 - $10</td>
<td>20 mins</td>
</tr>
    <tr>
<td>Wheel True</td>
<td>Tensioning of spokes to spin straight and round</td>
<td>$15 - $25</td>
<td>1 hour</td>
</tr>
<tr>
<td>Safety Check</td>
<td>Inspect bicycle, tighten bolts &amp; pressure tires</td>
<td>$25</td>
<td>1 hour</td>
</tr>
    <tr>
<td>Pack to Ship</td>
<td>Package bicycle in hardcase or cardboard box</td>
<td>$40 - $60</td>
<td>1 day</td>
</tr>
<tr>
<td>Tune Up</td>
<td>Adjustment: brakes/drivetrain, clean &amp; lube: chain &amp; cables, wheel truing</td>
<td>$60-80</td>
<td>1-3 days</td>
</tr>
<tr>
<td>Box Build</td>
<td>Complete assembly and tune of boxed bicycle</td>
<td>$45 - $60</td>
<td>1-3 days</td>
</tr>
<tr>
<td>Overhaul</td>
<td>Complete cleaning and relubrication of all parts</td>
<td>$100 - $150</td>
<td>1 week</td>
</tr>
    <tr>
<td>Custom Build</td>
<td>Complete assembly of full bicycle</td>
<td>$120 - $150</td>
<td>1 week</td>
</tr>
</tbody>
</table>
  

</div>
</div>
<header class="section-header section-header-image fit" id="fit-section">
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Bike Fitting</span></h2>
<p>Looking to get more comfortable and efficient on your bike? We provide an affordable option to get you there.</p>
</div>
</header>
<div class="wrapper">
<div id="services-fit" class="section">
<div class="grid__item large--one-half" id="spot-fit">
<h3>Basic Fit</h3>
<p class="FitPrice">$60</p>
<p>We'll hook you up to the trainer then set your seat height, saddle, and stem position for comfort and efficiency.</p>
</div>
<div class="grid__item large--one-half">
<p><strong>Note: </strong>Our basic fit is designed to affordably address three primary aspects of bicycle fit: seat height, saddle position, and reach. We are not certified professional fitters, but we do understand the basic theory of fitting. If you are dealing with injuries or looking to get every last detail optimized, please seek out a professional fitter, but if you want to get the majority of the way there, we can help.</p>
</div>
</div>
</div>
 <!--Removed pack & ship section
<header class="section-header section-header-image ship" id="ship-section">
<div class="wrapper">
<h2 class="section-header__title">Pack &amp; Ship</h2>
<p>Need to ship your bike somewhere? Don’t risk damaging it. We’ve been shipping bikes safely all over the world.</p>
</div>
</header>
<div class="wrapper">
<div id="services-pack" class="section">
<div class="grid__item large--one-third medium--one-whole">
<h3>PACK: Hard Case</h3>
<p class="FitPrice">$40</p>
<p>Professional packing in your personal hard case.</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>PACK: Cardboard Box</h3>
<p class="FitPrice">$60</p>
<p>Professional packing in a cardboard bike box.</p>
</div>
<div class="grid__item large--one-third medium--one-whole">
<h3>PACK &amp; SHIP</h3>
<p class="FitPrice">$100</p>
<p>Professional packing and shipping via FedEx Ground / Home Delivery.</p>
</div>
<p style="clear: both;" class="also">*rates reflect standard package size of maximum 130″ (length + girth) shipped within the contiguous United States. If oversized, or shipped internationally, additional fees will apply. Just ask for a quote.</p>

</div>
</div>
!-->