<header class="section-header section-header-image">
<div class="wrapper">
<h2 class="section-header__title">Calendar</h2>
<p>Check out our upcoming events.</p>
</div>
</header>
<div class="wrapper">
  <div id="calendar-frame">
  <app:calendar></app:calendar>
  </div>
</div>
<div class="rte">
  {{ page.content }}
</div>
