<header class="section-header section-header-image">
  <div class="background-overlay"></div>
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Sell Your Stuff</span></h2>
<p>Get paid for your old bikes, parts, and gear. Cash in and help make cycling and triathlon more affordable, accessible and sustainable.</p>
</div>
</header>
<div class="wrapper">
<div id="sell-options" class="section">
<h3>Your Options</h3>
<div class="grid text-center">
<div class="grid__item large--one-quarter medium-down--one-half">
<div class="option-icons"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 101.8 87.8" enable-background="new 0 0 101.8 87.8" xml:space="preserve">
<style><!--
&lt;
.style0{
		fill:	#11B390;
	}
--></style>
<g> <g> <path d="M0 43.4h7.1l0 0.9C7.2 55.8 11.8 66.7 20 74.9c8.3 8.3 19.3 12.9 31 12.9l0 0c11.7 0 22.7-4.6 31-12.9 c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2C69.6 76 60.6 79.8 51 79.8c-9.6 0-18.6-3.7-25.4-10.5 c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5L11.3 29.7L0 43.4z" class="style0"></path> </g> <g> <path d="M79.7 45.7l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31C73.8 4.6 62.7 0 51 0 S28.3 4.6 20 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4C32.4 11.7 41.4 8 51 8c9.6 0 18.6 3.7 25.4 10.5 c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H79.7z" class="style0"></path> </g> </g> <path d="M70.1 41.3c-1.6-1.3-3.1-1.8-4.9-1.8c-0.5 0-1.1 0-1.7 0.1c-0.3 0-0.6 0.2-0.7 0.5c-0.2 0.4-0.2 0.8 0 1.2 c0.2 0.3 0.7 0.9 2 0.8c1.6-0.1 3 0.4 4 1.5c1.2 1.3 1.9 3.2 1.8 5.3c-0.1 3.7-3.3 6.7-7 6.5c-1.8-0.1-3.5-0.9-4.7-2.2 c-1.2-1.3-1.8-3.1-1.7-5c0.1-2 1.5-4.2 3.1-5.1c0.1 0.4 0.3 0.7 0.4 1.1c0.2 0.4 0.3 0.9 0.5 1.3c0.4 1.2 0.9 2.4 1.4 3.6 c0.2 0.5 0.8 0.9 1.3 1l0.1 0c0.5 0 1.1-0.4 1.3-0.9c0.2-0.6-0.1-1.3-0.2-1.4c-0.1-0.2-0.3-0.5-0.5-0.6c-0.2-0.2-0.3-0.4-0.3-0.5 c-1.2-3.8-2.5-7.7-3.7-11.5l-0.4-1.1l1.6 0c0.6 0 1.1 0 1.7 0c0.6 0 0.6 0.2 0.7 0.5c0 0.1 0 0.2-0.3 0.4c-0.2 0.1-0.3 0.3-0.5 0.4 c-0.6 0.6-0.6 1.1-0.5 1.4c0.2 0.7 1.1 1 1.2 1l0.1 0l0.1 0c1.6-0.3 2.7-1.7 2.6-3.4c-0.1-1.7-1.4-3-3.1-3c-0.8 0-1.5 0-2.1 0 c-0.3 0-0.6 0-0.9 0c-0.7 0-1.4 0-2.1 0l-0.1 0c-0.7 0-1.1 0.2-1.4 0.6c-0.4 0.6-0.2 1.3-0.1 1.6c0.2 0.5 0.3 1.1 0.5 1.6H46.1 l-0.7-2.4c0.4-0.1 0.9-0.2 1.3-0.4c0.5-0.3 1.5-0.9 1.3-1.7c-0.1-0.5-0.7-0.8-1.7-0.8c0 0 0 0 0 0c-1.7 0-3.6-0.1-5.6 0 c-0.5 0-1.2 0.3-1.5 0.9c-0.3 0.5 0 1.4 0.4 1.8c0.1 0.1 0.3 0.2 0.4 0.3c0.7 0.5 1.4 1.2 2.5 1.2c0.1 0 0.2 0 0.3 0 c0.5 1.2 0.5 2.2-0.3 3.4c-1.2 1.9-2.2 3.8-3.3 5.7c-0.6 1.1-1.2 2.2-1.8 3.2c-0.1 0.2-0.3 0.3-0.5 0.5c-0.2 0.2-0.5 0.4-0.7 0.8 c-0.2 0.4-0.7 1.3-0.4 2c0.3 0.6 1.1 1 1.7 1c0.1 0 0.3 0 0.4-0.1c0.7-0.3 1.5-0.4 2.6-0.4c0.5 0 0.9 0 1.4 0c0.6 0 1.3 0.1 1.9 0 c-0.5 2.3-1.8 3.8-3.8 4.7c-2.4 1.1-4.7 0.8-6.8-0.7c-2.5-1.8-3.4-5-2.3-7.8c1.6-3.6 3.8-4.9 6.8-4.2c0.1 0 0.2 0 0.4 0 c0.7 0 1.6-0.4 1.8-1.2c0-0.1 0.1-0.8-0.8-1.1c-0.9-0.4-1.9-0.6-2.8-0.6c-3.4 0-6.5 2.5-7.9 6.4c-0.8 2.4-0.6 5 0.5 7.2 c1.2 2.3 3.2 3.9 5.7 4.7c0.9 0.3 1.9 0.4 2.8 0.4c4.3 0 7.7-3 9.1-8c0.2 0 0.2 0 0.5 0.2c0.1 0.1 0.2 0.2 0.3 0.2 c0.5 0.4 1.2 0.5 1.6 0.5c0.2 0 0.3 0 0.4 0l0.1 0l0.1 0c1-0.4 1.5-1.2 1.6-2.3c0-0.2 0.1-0.6 0.3-0.7c1.7-1.9 3.5-3.9 5.2-5.8 l1.7-1.8c0.2-0.2 0.3-0.4 0.5-0.6c0.1 0.2 0.1 0.3 0.2 0.5c0.2 0.4 0.2 0.4-0.3 0.7c-3.5 2.2-5.1 6.2-4.1 10.3 c1 3.8 4.5 6.7 8.3 6.9c4.3 0.2 8-2.1 9.4-5.9C74.2 48.1 73.2 43.7 70.1 41.3z M57 38l-7.5 8.2L47 38H57z M41.8 43.7 c0.9 0.8 1.6 1.7 2 2.9c0.1 0.4 0.3 0.7 0.5 1c-0.4 0-0.9 0-1.3 0l-3.4 0L41.8 43.7z M43.1 41.4l1.3-2.4c0.2 0.8 0.5 1.5 0.7 2.2 l0.3 0.9c0.5 1.6 1 3.3 1.5 4.9c0.1 0.3 0.1 0.5 0.1 0.5c0 0-0.1 0-0.2 0L46.6 47C46.3 44.8 45.1 43 43.1 41.4z" class="style0"></path> </svg></div>
<p class="grid-link__title">CONSIGNMENT</p>
<p class="">Drop it off. We do the work. You get paid when it sells, getting you max value.</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half">
<div class="option-icons"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 101.8 87.8" enable-background="new 0 0 101.8 87.8" xml:space="preserve">
<style><!--
.style0{
		fill:	#11B390;
	}
--></style>
<g> <g> <path d="M-0.1 43.4H7l0 0.9c0.1 11.6 4.7 22.5 12.8 30.7c8.3 8.3 19.3 12.9 31 12.9l0 0c11.7 0 22.7-4.6 31-12.9 c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2C69.5 76 60.5 79.8 50.9 79.8c-9.6 0-18.6-3.7-25.4-10.5 c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5L11.2 29.7L-0.1 43.4z" class="style0"></path> </g> <g> <path d="M79.6 45.7l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31C73.7 4.6 62.6 0 50.9 0 s-22.7 4.6-31 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4C32.3 11.7 41.3 8 50.9 8c9.6 0 18.6 3.7 25.4 10.5 c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H79.6z" class="style0"></path> </g> </g> <g> <g> <path d="M39.2 43.1c-0.3 0.8-0.6 1.6-1 2.4c-0.2 0.3-0.7 0.7-1 0.6c-1.2-0.2-2.4-0.4-3.5-0.8 c-1.4-0.5-1.5-0.7-1.2-2.2c0.4-2.5 0.9-5 1.3-7.5c0.1-0.7 0.2-1.3 0.3-2c0.7-3 2.6-5 5.6-5.8c2.5-0.7 4.7-1.7 6.3-3.8 c0.3-0.3 0.9-0.5 1.3-0.5c2.6 0 5.2-0.1 7.8 0c0.5 0 1.1 0.3 1.4 0.7c1.5 1.8 3.4 3 5.7 3.5c3.7 0.9 5.7 3.4 6.3 7.1 c0.5 3 1 5.9 1.5 8.9c0.1 0.7 0 1.2-0.7 1.3c-1.4 0.4-2.8 0.7-4.1 1c-0.6 0.1-1-0.2-1.2-0.8c-0.3-0.8-0.6-1.5-1-2.5 c-0.9 2.8-1.7 5.4-1.4 8.1c0.3 2.5 0.6 5.1 1 7.6c0.1 0.9-0.1 1.2-1 1.2c-6.9 0-13.9 0-20.8 0c-1.2 0-1.2 0-1-1.2 c0.8-3.6 1.2-7.2 0.8-10.8c-0.2-1.6-0.7-3.1-1.1-4.6C39.4 43 39.3 43 39.2 43.1z M40.1 38c1.4-1.1 2.4-5.4 1.7-7.5 c-1.1 0.4-2.2 0.8-3.2 1.3c-1.1 0.6-1 0.6-0.3 1.6c0.4 0.5 0.7 1 0.9 1.6C39.7 36 39.9 37 40.1 38z M60.3 30.6 c-0.6 2.1 0.6 6.7 2 7.4c0-2.1 0.9-3.9 2.2-5.4C63.7 31.6 62 30.8 60.3 30.6z" class="style0"></path> </g> </g> </svg></div>
<p class="grid-link__title">TRADE / STORE CREDIT</p>
<p class="">Get our consignment rate immediately in store credit for a purchase now or later.</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half">
<div class="option-icons"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 101.8 87.8" enable-background="new 0 0 101.8 87.8" xml:space="preserve">
<style><!--
.style0{
		fill:	#11B390;
	}
--></style>
<g> <path d="M49.6 39.7l5.9 6.6l-0.1-0.6c-0.1-1.4 0.5-2.9 1.8-4c1-0.9 2.2-1.4 3.4-1.4c0.3 0 0.6 0 0.8 0.1l0.5 0.1 L56 33.9L49.6 39.7z" class="style0"></path> <path d="M57.8 48.4l-0.5-0.1l5.9 6.6l6.5-5.7l-5.9-6.6l0.1 0.6c0.1 1.4-0.5 2.9-1.8 4c-1 0.9-2.2 1.4-3.4 1.4 C58.3 48.5 58 48.4 57.8 48.4z" class="style0"></path> <path d="M74.7 48.9L56.9 28.8c-0.3-0.3-0.8-0.4-1.2-0.1l-4 3.5l-3.5-4c-0.3-0.3-0.8-0.4-1.2-0.1l-4 3.5l-3.5-4 c-0.3-0.3-0.8-0.4-1.2-0.1l-11.3 10c-0.2 0.1-0.3 0.3-0.3 0.6c0 0.2 0.1 0.4 0.2 0.6L44.9 59c0.1 0.2 0.3 0.3 0.6 0.3l0 0 c0.2 0 0.4-0.1 0.5-0.2l4-3.5l3.5 4c0.1 0.2 0.3 0.3 0.6 0.3l0 0c0.2 0 0.4-0.1 0.5-0.2l4-3.5l3.5 4c0.1 0.2 0.3 0.3 0.6 0.3l0 0 c0.2 0 0.4-0.1 0.5-0.2l11.3-10c0.2-0.1 0.3-0.3 0.3-0.6S74.9 49 74.7 48.9z M71.9 49.3l-9 8L47.2 39.5l9-8L71.9 49.3z M48.7 34.9 l-1.4-1.5l-6.5 5.7l5.9 6.6l-0.1-0.6c-0.1-0.7 0.1-1.4 0.4-2.2l4.2 4.7c-0.7 0.2-1.5 0.3-2.2 0.1l-0.5-0.1l5.9 6.6L56 53l1.1 1.3 l-2.8 2.5L38.5 39l9-8l2.5 2.8L48.7 34.9z M40.1 34.4l-1.4-1.5l-6.5 5.7l5.9 6.6l-0.1-0.6c-0.1-0.7 0.1-1.4 0.4-2.2l4.2 4.7 c-0.7 0.2-1.5 0.3-2.2 0.1l-0.5-0.1l5.9 6.6l1.5-1.4l1.1 1.3l-2.8 2.5L29.9 38.5l9-8l2.5 2.8L40.1 34.4z" class="style0"></path> </g> <g> <g> <path d="M0 43.4h7.1l0 0.9C7.2 55.8 11.8 66.7 20 74.9c8.3 8.3 19.3 12.9 31 12.9l0 0c11.7 0 22.7-4.6 31-12.9 c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2C69.6 76 60.6 79.8 51 79.8c-9.6 0-18.6-3.7-25.4-10.5 c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5L11.3 29.7L0 43.4z" class="style0"></path> </g> <g> <path d="M79.7 45.7l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31C73.8 4.6 62.7 0 51 0 S28.3 4.6 20 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4C32.4 11.7 41.4 8 51 8c9.6 0 18.6 3.7 25.4 10.5 c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H79.7z" class="style0"></path> </g> </g> </svg></div>
<p class="grid-link__title">CASH / CHECK</p>
<p class="">In some cases we will make an offer for a lower payout but immediate deal.</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half">
<div class="option-icons"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 101.8 87.8" enable-background="new 0 0 101.8 87.8" xml:space="preserve">
<style><!--
.style0{
		fill:	#11B390;
	}
--></style>
<g> <path d="M-70.7 39.7l5.9 6.6l-0.1-0.6c-0.1-1.4 0.5-2.9 1.8-4c1-0.9 2.2-1.4 3.4-1.4c0.3 0 0.6 0 0.8 0.1l0.5 0.1 l-5.9-6.6L-70.7 39.7z" class="style0"></path> <path d="M-62.5 48.4l-0.5-0.1l5.9 6.6l6.5-5.7l-5.9-6.6l0.1 0.6c0.1 1.4-0.5 2.9-1.8 4c-1 0.9-2.2 1.4-3.4 1.4 C-61.9 48.5-62.2 48.4-62.5 48.4z" class="style0"></path> <path d="M-45.5 48.9l-17.8-20.1c-0.3-0.3-0.8-0.4-1.2-0.1l-4 3.5l-3.5-4c-0.3-0.3-0.8-0.4-1.2-0.1l-4 3.5l-3.5-4 c-0.3-0.3-0.8-0.4-1.2-0.1l-11.3 10c-0.2 0.1-0.3 0.3-0.3 0.6c0 0.2 0.1 0.4 0.2 0.6L-75.3 59c0.1 0.2 0.3 0.3 0.6 0.3l0 0 c0.2 0 0.4-0.1 0.5-0.2l4-3.5l3.5 4c0.1 0.2 0.3 0.3 0.6 0.3l0 0c0.2 0 0.4-0.1 0.5-0.2l4-3.5l3.5 4c0.1 0.2 0.3 0.3 0.6 0.3l0 0 c0.2 0 0.4-0.1 0.5-0.2l11.3-10c0.2-0.1 0.3-0.3 0.3-0.6C-45.3 49.2-45.3 49-45.5 48.9z M-48.3 49.3l-9 8l-15.8-17.8l9-8 L-48.3 49.3z M-71.5 34.9l-1.4-1.5l-6.5 5.7l5.9 6.6l-0.1-0.6c-0.1-0.7 0.1-1.4 0.4-2.2l4.2 4.7c-0.7 0.2-1.5 0.3-2.2 0.1l-0.5-0.1 l5.9 6.6l1.5-1.4l1.1 1.3l-2.8 2.5L-81.7 39l9-8l2.5 2.8L-71.5 34.9z M-80.1 34.4l-1.4-1.5l-6.5 5.7l5.9 6.6l-0.1-0.6 c-0.1-0.7 0.1-1.4 0.4-2.2l4.2 4.7c-0.7 0.2-1.5 0.3-2.2 0.1l-0.5-0.1l5.9 6.6l1.5-1.4l1.1 1.3l-2.8 2.5l-15.8-17.8l9-8l2.5 2.8 L-80.1 34.4z" class="style0"></path> </g> <g> <g> <path d="M-363.6 43.8h7.1l0 0.9c0.1 11.6 4.7 22.5 12.8 30.7c8.3 8.3 19.3 12.9 31 12.9l0 0 c11.7 0 22.7-4.6 31-12.9c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2c-6.8 6.8-15.8 10.5-25.4 10.5 c-9.6 0-18.6-3.7-25.4-10.5c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5l-11.3-13.7L-363.6 43.8z" class="style0"></path> </g> <g> <path d="M-283.9 46.1l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31 c-8.3-8.3-19.3-12.9-31-12.9c-11.7 0-22.7 4.6-31 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4 c6.8-6.8 15.8-10.5 25.4-10.5c9.6 0 18.6 3.7 25.4 10.5c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H-283.9z" class="style0"></path> </g> </g> <g> <g> <path d="M-120.2 43.4h7.1l0 0.9c0.1 11.6 4.7 22.5 12.8 30.7c8.3 8.3 19.3 12.9 31 12.9l0 0 c11.7 0 22.7-4.6 31-12.9c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2c-6.8 6.8-15.8 10.5-25.4 10.5 c-9.6 0-18.6-3.7-25.4-10.5c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5l-11.3-13.7L-120.2 43.4z" class="style0"></path> </g> <g> <path d="M-40.6 45.7l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31 C-46.5 4.6-57.5 0-69.2 0s-22.7 4.6-31 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4C-87.8 11.7-78.8 8-69.2 8 c9.6 0 18.6 3.7 25.4 10.5c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H-40.6z" class="style0"></path> </g> </g> <g> <g> <path d="M-242.5 43.8h7.1l0 0.9c0.1 11.6 4.7 22.5 12.8 30.7c8.3 8.3 19.3 12.9 31 12.9l0 0 c11.7 0 22.7-4.6 31-12.9c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2c-6.8 6.8-15.8 10.5-25.4 10.5 c-9.6 0-18.6-3.7-25.4-10.5c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5l-11.3-13.7L-242.5 43.8z" class="style0"></path> </g> <g> <path d="M-162.8 46.1l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31 c-8.3-8.3-19.3-12.9-31-12.9c-11.7 0-22.7 4.6-31 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4 c6.8-6.8 15.8-10.5 25.4-10.5c9.6 0 18.6 3.7 25.4 10.5c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H-162.8z" class="style0"></path> </g> </g> <g> <g> <path d="M0 43.4h7.1l0 0.9C7.2 55.8 11.8 66.7 20 74.9c8.3 8.3 19.3 12.9 31 12.9l0 0c11.7 0 22.7-4.6 31-12.9 c0.6-0.6 1.3-1.3 1.9-2l-5.7-5.7c-0.6 0.7-1.2 1.4-1.9 2C69.6 76 60.6 79.8 51 79.8c-9.6 0-18.6-3.7-25.4-10.5 c-6.7-6.7-10.4-15.5-10.5-25l0-0.9h7.5L11.3 29.7L0 43.4z" class="style0"></path> </g> <g> <path d="M79.7 45.7l11.1 13.7l11.1-13.7h-7l0-1c0-0.3 0-0.6 0-0.8c0-11.7-4.6-22.7-12.9-31C73.8 4.6 62.7 0 51 0 C39.3 0 28.3 4.6 20 12.9c-0.8 0.8-1.5 1.6-2.2 2.4l5.7 5.7c0.7-0.8 1.4-1.6 2.2-2.4C32.4 11.7 41.4 8 51 8 c9.6 0 18.6 3.7 25.4 10.5c6.8 6.8 10.5 15.8 10.5 25.4c0 0.2 0 0.5 0 0.7l0 1.1H79.7z" class="style0"></path> </g> </g> <g> <g> <path d="M-203.1 43.4c-0.3 0.8-0.6 1.6-1 2.4c-0.2 0.3-0.7 0.7-1 0.6c-1.2-0.2-2.4-0.4-3.5-0.8 c-1.4-0.5-1.5-0.7-1.2-2.2c0.4-2.5 0.9-5 1.3-7.5c0.1-0.7 0.2-1.3 0.3-2c0.7-3 2.6-5 5.6-5.8c2.5-0.7 4.7-1.7 6.3-3.8 c0.3-0.3 0.9-0.5 1.3-0.5c2.6 0 5.2-0.1 7.8 0c0.5 0 1.1 0.3 1.4 0.7c1.5 1.8 3.4 3 5.7 3.5c3.7 0.9 5.7 3.4 6.3 7.1 c0.5 3 1 5.9 1.5 8.9c0.1 0.7 0 1.2-0.7 1.3c-1.4 0.4-2.8 0.7-4.1 1c-0.6 0.1-1-0.2-1.2-0.8c-0.3-0.8-0.6-1.5-1-2.5 c-0.9 2.8-1.7 5.4-1.4 8.1c0.3 2.5 0.6 5.1 1 7.6c0.1 0.9-0.1 1.2-1 1.2c-6.9 0-13.9 0-20.8 0c-1.2 0-1.2 0-1-1.2 c0.8-3.6 1.2-7.2 0.8-10.8c-0.2-1.6-0.7-3.1-1.1-4.6C-203 43.4-203.1 43.4-203.1 43.4z M-202.2 38.4c1.4-1.1 2.4-5.4 1.7-7.5 c-1.1 0.4-2.2 0.8-3.2 1.3c-1.1 0.6-1 0.6-0.3 1.6c0.4 0.5 0.7 1 0.9 1.6C-202.7 36.4-202.5 37.4-202.2 38.4z M-182 31 c-0.6 2.1 0.6 6.7 2 7.4c0-2.1 0.9-3.9 2.2-5.4C-178.6 32-180.4 31.2-182 31z" class="style0"></path> </g> </g> <path d="M-293.5 41.7c-1.6-1.3-3.1-1.8-4.9-1.8c-0.5 0-1.1 0-1.7 0.1c-0.3 0-0.6 0.2-0.7 0.5c-0.2 0.4-0.2 0.8 0 1.2 c0.2 0.3 0.7 0.9 2 0.8c1.6-0.1 3 0.4 4 1.5c1.2 1.3 1.9 3.2 1.8 5.3c-0.1 3.7-3.3 6.7-7 6.5c-1.8-0.1-3.5-0.9-4.7-2.2 c-1.2-1.3-1.8-3.1-1.7-5c0.1-2 1.5-4.2 3.1-5.1c0.1 0.4 0.3 0.7 0.4 1.1c0.2 0.4 0.3 0.9 0.5 1.3c0.4 1.2 0.9 2.4 1.4 3.6 c0.2 0.5 0.8 0.9 1.3 1l0.1 0c0.5 0 1.1-0.4 1.3-0.9c0.2-0.6-0.1-1.3-0.2-1.4c-0.1-0.2-0.3-0.5-0.5-0.6c-0.2-0.2-0.3-0.4-0.3-0.5 c-1.2-3.8-2.5-7.7-3.7-11.5l-0.4-1.1l1.6 0c0.6 0 1.1 0 1.7 0c0.6 0 0.6 0.2 0.7 0.5c0 0.1 0 0.2-0.3 0.4c-0.2 0.1-0.3 0.3-0.5 0.4 c-0.6 0.6-0.6 1.1-0.5 1.4c0.2 0.7 1.1 1 1.2 1l0.1 0l0.1 0c1.6-0.3 2.7-1.7 2.6-3.4c-0.1-1.7-1.4-3-3.1-3c-0.8 0-1.5 0-2.1 0 c-0.3 0-0.6 0-0.9 0c-0.7 0-1.4 0-2.1 0l-0.1 0c-0.7 0-1.1 0.2-1.4 0.6c-0.4 0.6-0.2 1.3-0.1 1.6c0.2 0.5 0.3 1.1 0.5 1.6h-11.5 l-0.7-2.4c0.4-0.1 0.9-0.2 1.3-0.4c0.5-0.3 1.5-0.9 1.3-1.7c-0.1-0.5-0.7-0.8-1.7-0.8c0 0 0 0 0 0c-1.7 0-3.6-0.1-5.6 0 c-0.5 0-1.2 0.3-1.5 0.9c-0.3 0.5 0 1.4 0.4 1.8c0.1 0.1 0.3 0.2 0.4 0.3c0.7 0.5 1.4 1.2 2.5 1.2c0.1 0 0.2 0 0.3 0 c0.5 1.2 0.5 2.2-0.3 3.4c-1.2 1.9-2.2 3.8-3.3 5.7c-0.6 1.1-1.2 2.2-1.8 3.2c-0.1 0.2-0.3 0.3-0.5 0.5c-0.2 0.2-0.5 0.4-0.7 0.8 c-0.2 0.4-0.7 1.3-0.4 2c0.3 0.6 1.1 1 1.7 1c0.1 0 0.3 0 0.4-0.1c0.7-0.3 1.5-0.4 2.6-0.4c0.5 0 0.9 0 1.4 0c0.6 0 1.3 0.1 1.9 0 c-0.5 2.3-1.8 3.8-3.8 4.7c-2.4 1.1-4.7 0.8-6.8-0.7c-2.5-1.8-3.4-5-2.3-7.8c1.6-3.6 3.8-4.9 6.8-4.2c0.1 0 0.2 0 0.4 0 c0.7 0 1.6-0.4 1.8-1.2c0-0.1 0.1-0.8-0.8-1.1c-0.9-0.4-1.9-0.6-2.8-0.6c-3.4 0-6.5 2.5-7.9 6.4c-0.8 2.4-0.6 5 0.5 7.2 c1.2 2.3 3.2 3.9 5.7 4.7c0.9 0.3 1.9 0.4 2.8 0.4c4.3 0 7.7-3 9.1-8c0.2 0 0.2 0 0.5 0.2c0.1 0.1 0.2 0.2 0.3 0.2 c0.5 0.4 1.2 0.5 1.6 0.5c0.2 0 0.3 0 0.4 0l0.1 0l0.1 0c1-0.4 1.5-1.2 1.6-2.3c0-0.2 0.1-0.6 0.3-0.7c1.7-1.9 3.5-3.9 5.2-5.8 l1.7-1.8c0.2-0.2 0.3-0.4 0.5-0.6c0.1 0.2 0.1 0.3 0.2 0.5c0.2 0.4 0.2 0.4-0.3 0.7c-3.5 2.2-5.1 6.2-4.1 10.3 c1 3.8 4.5 6.7 8.3 6.9c4.3 0.2 8-2.1 9.4-5.9C-289.4 48.5-290.4 44.1-293.5 41.7z M-306.6 38.3l-7.5 8.2l-2.5-8.2H-306.6z M-321.8 44.1c0.9 0.8 1.6 1.7 2 2.9c0.1 0.4 0.3 0.7 0.5 1c-0.4 0-0.9 0-1.3 0l-3.4 0L-321.8 44.1z M-320.5 41.7l1.3-2.4 c0.2 0.8 0.5 1.5 0.7 2.2l0.3 0.9c0.5 1.6 1 3.3 1.5 4.9c0.1 0.3 0.1 0.5 0.1 0.5c0 0-0.1 0-0.2 0l-0.1-0.6 C-317.3 45.2-318.5 43.4-320.5 41.7z" class="style0"></path> <path d="M50.9 60.9c1.4-1.4 9.2-9.2 14.1-14.1c4.4-4.4 4.3-10.8 0.3-14.8c-4-4-10.5-4-14.4 0c-4-4-10.4-4-14.4 0 c-4 4-4.1 10.4 0.3 14.8C41.7 51.7 49.5 59.5 50.9 60.9z" class="style0"></path> </svg></div>
<p class="grid-link__title">DONATE</p>
<p class="">Donations help us to better serve our local community with affordable services.</p>
</div>
</div>
</div>
</div>
<div id="sell-hiw" class="section">
<div class="wrapper">
<h3>How It Works</h3>
</div>
<div class="grid text-center">
<div class="grid__item large--one-third hiw-block medium--one-whole" id="drop">
<div class="wrapper">
  <p class="hiw-title">DROP IT OFF</p>
<p>We’ll assess the condition and value then help to determine the best selling option for you.</p>
</div>
</div>
<div class="grid__item large--one-third hiw-block medium--one-whole middle-border" id="work">
<div class="wrapper">
  <p class="hiw-title">WE DO THE WORK</p>
<p>From assessment to pricing, photography to shipping. It's all handled by our professional staff.</p>
</div>
</div>
<div class="grid__item large--one-third hiw-block medium--one-whole" id="paid">
<div class="wrapper">
  <p class="hiw-title">YOU GET PAID</p>
<p>Once all your items sell, or at month end, we'll send you a check and report of sales to date.</p>
</div>
</div>
</div>
</div>
<div class="wrapper">
<div id="sell-money" class="section">
<h3>Let's Talk Money</h3>
<div class="grid">
<div class="grid__item large--one-half medium--one-whole">
<p><strong>Your Takeaway</strong></p>
<ul>
<li>50% on the first $100</li>
<li>65% on the next $400</li>
<li>80% of the remaining value over $500</li>
</ul>
</div>
<div class="grid__item large--one-half medium--one-whole">
<p class=""><strong>How much do I get?</strong></p>
<div class="consignment-calculator__row"><label class="consignment-calculator__label" for="salePrice">Sells For:</label>
<div class="consignment-calculator__input-group"><span class="consignment-calculator__currency">$</span> <input class="consignment-calculator__input" type="number" id="salePrice" /></div>
</div>
<div class="consignment-calculator__row"><label class="consignment-calculator__label" for="consignmentValue">Consign or Trade:</label>
<div class="consignment-calculator__input-group"><span class="consignment-calculator__currency">$</span> <input class="consignment-calculator__input" type="number" id="consignmentValue" /></div>
</div>
</div>
</div>
<!-- <P><a href="#" class="show-details">View additional details about consignment</a></P> -->
</div>
</div>
<div id="sell-details" class="section">
<div class="wrapper">
<h3>CONSIGNMENT ADDITIONAL DETAILS </h3>
<p>OUR COMMISSION: is based on the sale price of each item. This excludes sales taxes and shipping (if either is applicable). Shipping is charged at calculated and industry standard rates.</p>
<p>MINIMUM COMMISSION or RETURN FEE: $50 per bicycle and $10 per item. Items appraised under the minimum can either be donated or taken back.</p>
<p>EXTRA PARTS &amp; LABOR: We stand behind every product we sell, and we expect to do minor tuning and cleaning on the house, but if additional parts and labor is required, we’ll bill it at 75% of our normal rates, deducted from your check once sold.</p>
<p>NO EXTRA FEES: Unlike others, we personally cover the ebay/paypal and credit card fees (which can be up to 14%) associated with the sale. </p>
<p>SAME RATES: Wondering what happens if something sells in store instead of on eBay? What you get is the same. Selling on eBay is quick and easy, while in store purchases often require extensive time working with customers to find the right solutions and fit for them. Our standard rates keep pricing simple, and frankly, help us to run a storefront and eBay store together, which makes selling your stuff twice as effective.</p>
  <ul><li>EXAMPLE 1: Your item sells for $100 on ebay via paypal. You get $50, ebay/paypal get $13, and we keep the remaining $37. </li>
    <li>EXAMPLE 2: Your bike sells for $1000 in store via credit card. You get $710, cc takes $30, and we keep the remaining $260.</li></ul>
  <p>EXCLUSIVITY: Sorry, but you can't try to sell the item on the side while it's on consignment. Don't worry, items we sell typically go for well above market value due to our brick and mortar bike shop, experience with the used market, effective pricing strategy, and overwhelmingly positive reviews.</p>
<p>SELLING TIME: Most items are listed for sale within about a couple weeks and sell within about a month or two. This of course varies depending on the queue of consignor items and whether you're after a quick payout or maximum value.</p>
<p>OTHER QUESTIONS? Feel free to ask.</p>
</div>
</div>
<!--
<div class="wrapper">
<div id="sell-contact">
<h3>Interested?</h3>
<p>CONTACT FORMS HERE</p>
</div>
</div>
-->
<script>// <![CDATA[
var $salePriceInput = document.getElementById('salePrice');
  var $consignmentValueInput = document.getElementById('consignmentValue');
  var $cashValueInput = document.getElementById('cashValue');

  function saleToConsignment(value) {
    var consignmentValue = 0;
    if(value <= 10) {
      consignmentValue = 0;
    } else if (value < 20) {
      consignmentValue = (value - 10) ;
    } else if (value < 100) {
      consignmentValue = value *.5;
    } else if (value < 500) {
      consignmentValue = value - (50 + ((value - 100) * .35));
    } else {
      consignmentValue = value - (190 + ((value - 500) * .2));
    }
    return consignmentValue;
  }

  function consignmentToSale(value) {
    var salePrice = 0;
    if(value <= 10) {
      salePrice = value +10;
    } else if(value <= 50) {
      salePrice = value / .5;
    } else if(value <= 190) {
      salePrice = (value + 15) / .65;
    } else {
      salePrice = (value + 90) / .8;
    }
    return salePrice;
  }

  // Sells For
  $salePriceInput.onkeyup = function(){
    var salePrice = parseFloat($salePriceInput.value);
    var consignmentValue = saleToConsignment(salePrice);
    var cashValue = consignmentValue * .8;
    $consignmentValueInput.value = consignmentValue.toFixed(2);
    $cashValueInput.value = cashValue.toFixed(2);
  };

  // Consign or Trade
  $consignmentValueInput.onkeyup = function(){
    var consignmentValue = parseFloat($consignmentValueInput.value);
    var salePrice = consignmentToSale(consignmentValue);
    var cashValue = consignmentValue * .8;
    $salePriceInput.value = salePrice.toFixed(2);
    $cashValueInput.value = cashValue.toFixed(2);
  };

  // Cash (80% of Consignment)
  $cashValueInput.onkeyup = function(){
    var cashValueInput = parseFloat($cashValueInput.value);
    var consignmentValue = cashValueInput / .8;
    var salePrice = consignmentToSale(consignmentValue);
    $salePriceInput.value = salePrice.toFixed(2);
    $consignmentValueInput.value = consignmentValue.toFixed(2);
  };
// ]]></script>

<script>
  // show details hider
  (function() {
    $('.show-details').on('click', function(e) {
      e.preventDefault();
      $("#sell-details").slideToggle();
      });
  })();
</script>
